aws_region            = "us-east-1"
environment           = "dev"
cluster_name          = "llm-runtime-dev"
namespace             = "llm"
availability_zones    = ["us-east-1a", "us-east-1b"]
vpc_cidr              = "10.42.0.0/16"
enable_nat_gateway    = false
ephemeral_environment = true

gateway_ecr_repository_name = "inference-serving-gateway"
backend_ecr_repository_name = "llm-server"
cluster_version             = null
node_instance_types         = ["t3.medium"]
node_desired_size           = 2
node_min_size               = 1
node_max_size               = 3
node_disk_size              = 20
node_capacity_type          = "ON_DEMAND"
db_name                     = "llm"
db_username                 = "llm"
db_instance_class           = "db.t3.micro"
db_allocated_storage        = 20
db_max_allocated_storage    = 100
db_engine_version           = null
redis_node_type             = "cache.t3.micro"
redis_engine_version        = null
github_oidc_repositories    = ["chranama/inference-serving-gateway", "chranama/llm-extraction-platform"]
github_actions_branch       = "main"
